APP_PORT=3000
APP_HOST=localhost
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority

JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRATION=7d

FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@gmail.com

SMTP_EMAIL=
SMTP_PASSWORD=
MANAGER_EMAIL=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_REGION=
AWS_S3_ACL=
AWS_S3_ENDPOINT=
